/*  David Liao
CSS page
styling the header that matches with the user's account
styling the checkout, used help from w3schools.com
*/

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
    width: 75%;
}
  
  .col-25 {
    -ms-flex: 25%; 
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; 
    flex: 50%;
 
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
    align-content: center;
  }
  
  .container {
    background-color: ghostwhite;
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 3px;
  }
  /* styling the input text in billing information */
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  /* styling the icons*/
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  /* styling the complete purchase button*/
  .btn {
    background-color: blueviolet;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
/* styling the complete purchase button */
  .btn:hover {
    background-color: greenyellow;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  

  /* styling the invoice table*/
  table {
    border-collapse: collapse;
    border: 1;
  }
  th, td {
    padding: 5px;
    text-align: right;
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: white;
  }
  
  th {
    background-color: powderblue;
  }

 